name: Deploy EcoBo to Heroku

on:
  push:
    branches: [ main ]

jobs:
  build-frontend:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: npm install frontend
        run: |
          cd frontend
          npm install
      - name: run build
        run: |
          cd frontend
          npm run build
        env:
          REACT_APP_GEOAPIFY_KEY: ${{ secrets.REACT_APP_GEOAPIFY_KEY }}
      - uses: actions/upload-artifact@v2
        with:
          name: frontend-build
          path: frontend/build/

  build-backend:
    runs-on: ubuntu-latest
    needs: build-frontend
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 15
        uses: actions/setup-java@v1
        with:
          java-version: 15
      - uses: actions/download-artifact@v2
        with:
          name: frontend-build
          path: backend/src/main/resources/static
      - name: Build with Maven
        run: mvn -B package -DskipTests --file backend/pom.xml
      - uses: actions/upload-artifact@v2
        with:
          name: backend-build.jar
          path: backend/target/ecoBo.jar

  deploy:
    name: deploy to heroku
    runs-on: ubuntu-latest
    needs: build-backend
    steps:
      - uses: actions/checkout@v2
      - name: create target folder
        run: mkdir backend/target
      - uses: actions/download-artifact@v2
        with:
          name: backend-build.jar
          path: backend/target
      - name: login to heroku container
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }} #corresponds to the github repo secrets
        run: heroku container:login
      - name: push docker container to heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }} #corresponds to the github repo secrets
        run: heroku container:push web -a ecobo-neuefische #this name corresponds to the app name on heroku.com
      - name: deploy/release docker container to heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }} #corresponds to the github repo secrets
        run: heroku container:release web -a ecobo-neuefische #this name corresponds to the app name on heroku.com